div{
  box-sizing: border-box;
}

.search-cities{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.search-cities .input-group, .search-cities .list-group{
  width: 36%;
  min-width: 280px;
}

.search-cities .input-group{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.search-cities .input-group input[type='text']{
  position: relative;
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  outline: none;
  margin: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-cities .input-group input[type='text']:focus{
  border-color: #343a40;
}


.search-cities .input-group button{
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  color: #343a40;
  border-color: #343a40;
  cursor: pointer;
  margin: 0;
  outline: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.search-cities .input-group button:hover, .search-cities .list-group .item:hover{
  background-color: #343a40;
  color: white;
}

.search-cities .list-group{
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  border-radius: .25rem;
}

.search-cities .list-group .item{
  position: relative;
  display: block;
  padding: .4rem .6rem;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
  text-align: left;
  cursor: pointer;
}

.search-cities .list-group .item:first-child{
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.search-cities .list-group .item:last-child{
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.search-cities .list-group .item+.item{
  border-top-width: 0;
}